.card-btn-1{
    border-radius: 20px;
    
}
#emailbolte{
    display:none;
}
.img-fluid {
    align-content: center !important;
    align-self: center;
    display:flex;
    flex-direction: row;
    flex-flow: column-reverse;
}
.img-fluid img{
/*     align-content: center !important; */
    align-self: center;
    display:flex;
    flex-direction: row;
    flex-flow: column-reverse;
}